.first_div {
    background-color: #f2f3f7;
    text-align: left;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-family: "Quicksand", Arial, sans-serif;
}
.first_div small {
    opacity: 0.4;
    font-size: 16px;
}
.first_div strong {
    font-size: 20px;
    font-weight: 500;
}

.first_div {
    line-height: 1.8;
    border-radius: 10px;
}

.heading {
    margin-bottom: 20px;
    font-family: "Quicksand", Arial, sans-serif;
}
.desc span {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.562);
    font-size: 14px;
}
#work_exp {
    opacity: 0.7;
}

#iconi {
    background-color: seagreen;
    padding: 7px;
    font-size: 15px;
    border-radius:  50%;
    color: seashell;
    width: 30px;
    height: 27px;
}

.icon_div {
    text-align: right;
    padding-top: 10px;
}
.head_exp {
    text-align: left;
    margin: 40px 0px;
}
#work_exp {
    margin-top: 20px;
    padding-left: 20px;
}